/* STYLES */
body {
	margin: 0;
	color: #888;
	font-family: 'El Messiri', sans-serif;
}
h1 {
	text-align: center;
	font-size: 40px;
	text-transform: uppercase;
}
.center-text {
	text-align: center;
}
figure {
	margin: 0;
	display: inline-block;
}
figcaption {
	text-align: center;
	padding-left: 25px;
}

/* GRID */
*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
.container,
.grid {
	margin: 0 auto;
	width: 70%;
}
.container {
	padding-left: 30px;
	padding-right: 30px;
}
.col-1-3 {
	width: 33.33%;
}
.col-2-3 {
	width: 66.66%;
}
.col-1-2 {
	width: 50%;
}
.col-1-3,
.col-2-3,
.col-1-2 {
	display: inline-block;
	vertical-align: top;
}

/* ROWS */
.row {
	background: #fff;
	min-width: 70%;
	padding-bottom: 50px;
}

/* CLEARFIX */
.group:after {
	content: "";
	display: table;
	clear: both;
}

/* NAVIGATION */
.nav-icon {
	background: #ccc;
	background-image: linear-gradient(#ddd,#bbb);
	border: 1px solid #aaa;
	border-radius: 2px;
	color: #fff;
	font-size: 18px;
	text-align: center;
	text-shadow: 1px 1px 1px #333;
	text-transform: uppercase;
	display: inline-block;
	width: 100px;
	line-height: 1;
	margin: 2px 3px;
	padding: 5px 0;
}
.nav-icon:hover {
	opacity: 0.85;
}
.nav-icon a {
	color: #fff;
}
a {
	text-decoration: none;
	color: #888;
}
a:hover {
	color: #a9b2b9;
}

/* IMAGES */
.photo {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	margin-top: 10px;
	margin-left: 20px;
}
.small-photo {
	width: 75px;
	height: 75px;
	border-radius: 50%;
	margin-top: 10px;
	margin-left: 20px;
	display: inline-block;
}
.normal {
	border: 1px solid #a8a859;
}
.fire {
	border: 1px solid #f08030;
}
.water {
	border: 1px solid #6890f0;
}
.electric {
	border: 1px solid #f8d030;
}
.grass {
	border: 1px solid #78c850;
}
.ice {
	border: 1px solid #98d8d8;
}
.fighting {
	border: 1px solid #c03028;
}
.poison {
	border: 1px solid #a040a0;
}
.ground {
	border: 1px solid #e0c068;
}
.flying {
	border: 1px solid #a890f0;
}
.psychic {
	border: 1px solid #f85888;
}
.bug {
	border: 1px solid #a8b820;
}
.rock {
	border: 1px solid #b8a038;
}
.ghost {
	border: 1px solid #705898;
}
.dragon {
	border: 1px solid #7038f8;
}

/* COLORS */
.color-normal {
	color: #a8a859;
}
.color-fire {
	color: #f08030;
}
.color-water {
	color: #6890f0;
}
.color-electric {
	color: #f8d030;
}
.color-grass {
	color: #78c850;
}
.color-ice {
	color: #98d8d8;
}
.color-fighting {
	color: #c03028;
}
.color-poison {
	color: #a040a0;
}
.color-ground {
	color: #e0c068;
}
.color-flying {
	color: #a890f0;
}
.color-psychic {
	color: #f85888;
}
.color-bug {
	color: #a8b820;
}
.color-rock {
	color: #b8a038;
}
.color-ghost {
	color: #705898;
}
.color-dragon {
	color: #7038f8;
}

/* TYPE STATS */
.stat-summary {
	margin: 0 auto 15px;
	padding: 0;
	text-align: center;
}
.stat-summary-item {
	display: inline-block;
	margin: 0 15px;
	font-size: 16px;
}
.stat-summary-count {
	font-size: 24px;
	font-weight: bold;
}
.aside {
	display: block;
	font-size: 13px;
	color: #777;
	font-style: normal;
	font-weight: normal;
}

/* TYPE BUTTONS */
.type-icon {
	background: #ccc;
	background-image: linear-gradient(#ddd,#bbb);
	border: 1px solid #aaa;
	border-radius: 2px;
	color: #fff;
	font-size: 10px;
	text-align: center;
	text-shadow: 1px 1px 1px #333;
	text-transform: uppercase;
	display: inline-block;
	width: 58px;
	line-height: 1;
	margin: 1px 0;
	padding: 5px 0;
}
.type-icon:hover {
	opacity: 0.85;
}
.type-normal {
	background: #8a8a59;
	background-image: linear-gradient(#a8a878,#a8a859);
	border-color: #79794e;
}
.type-fire{
	background: #f08030;
	background-image: linear-gradient(#f08030,#dd6610);
	border-color: #b4530d;
}
.type-water {
	background: #6890f0;
	background-image: linear-gradient(#6890f0,#386ceb);
	border-color: #1753e3;
}
.type-electric {
	background: #f8d030;
	background-image: linear-gradient(#f8d030,#f0c108);
	border-color: #c19b07;
}
.type-grass {
	background: #78c850;
	background-image: linear-gradient(#78c850,#5ca935);
	border-color: 4a892b;
}
.type-ice {
	background: #98d8d8;
	background-image: linear-gradient(#98d8d8,#69c6c6);
	border-color: #45b6b6;
}
.type-fighting {
	background: #c03028;
	background-image: linear-gradient(#c03028,#9d2721);
	border-color: #82211b;
}
.type-poison {
	background: #a040a0;
	background-image: linear-gradient(#a040a0,#803380);
	border-color: #662966;
}
.type-ground {
	background: #e0c068;
	background-image: linear-gradient(#e0c068,#d4a82f);
	border-color: #aa8623;
}
.type-flying {
	background: #a890f0;
	background-image: linear-gradient(#a890f0,#9180c4);
	border-color: #7762b6;
}
.type-psychic {
	background: #f85888;
	background-image: linear-gradient(#f85888,#f61c5d);
	border-color: #d60945;
}
.type-bug {
	background: #a8b820;
	background-image: linear-gradient(#a8b820,#8d9a1b);
	border-color: #616b13;
}
.type-rock {
	background: #b8a038;
	background-image: linear-gradient(#b8a038,#93802d);
	border-color: #746523;
}
.type-ghost {
	background: #705898;
	background-image: linear-gradient(#705898,#554374);
	border-color: #413359;
}
.type-dragon {
	background: #7038f8;
	background-image: linear-gradient(#7038f8,#4c08ef);
	border-color: #3d07c0;
}